:root{
    /*CSS HEX*/
    --cravo-rosa: rgb(217, 216, 152);
    --limao-chiffon: #Ff99c8ff;
    --mayanza: #Ff99c8ff;
    --azul-uranio: #Ff99c8ff;
    --titulo
    --texto

}
body {
    background-color: ;
    font-family:  ;
    display: flex ;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;


}
