@import url('https://fonts.googleapis.com/css?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Share+Tech&display=swap');

:root {
    --azul: #219ebcff;
    --azul-forte: #023047ff;
    --amarelo: #ffb703ff;
    --laranja: #fb8500ff;

    --branco: #ff3a3a;
    --titulo: "Bitcount Prop Double Ink", system-ui;
    --texto: "Share Tech", sans-serif;

}

body {

    background-color: var(--azul);
    font-family: var(texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--azul-forte);
    color: var(--branco);
    padding: 10px;
    border: 2px solid var(--branco);
    border-radius: 8px;
    font-size: 20px;

    margin: 5px;

}
button {

    background-color:var(--azul-forte);
    font-family: var(--azul);
    display:flex;
    align-items: center ;
    justify-content:center ;
    margin: 0;
    padding-left: 0%;

}




.passo {
    display: none;
}

.ativo {
    display: block;
}